*{
	margin: 0;
	padding: 0;
}
th{
	text-align: center;
	width: 150px;
	height: 50px;
}
td{
	text-align: center;
	width: 150px;
	height: 50px;
	background-color: rgba(135, 206, 250, 0.2);
}
table{
	border-bottom: solid 1px rgb(135, 206, 250);
	/*border-collapse: collapse;*/
}
.button-add, .button-cut{
	width: 20px;
	background-color: rgba(169, 169, 169, 0.5);
	cursor: pointer;
}
.price, .button-no{
	border: 0;
	outline: none;
	color: #00beff;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}
.button-num{
	width: 50px;
	height: 25px;
	margin: 5px;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}
#shop-cart{
	width: 900px;
	position: relative;
	border:	solid 1px rgb(135, 206, 250);
	margin: 15px;
}
#shop-title{
	padding: 15px;
	font-size: large;
	font-weight: bold;
	border-bottom: solid 1px rgb(135, 206, 250);
}
#shop-bottom{
	position: absolute;
	right: 5px;
	bottom: 15px;
	background-color: rgba(0, 0, 0, 0);
}
.input-total{
	position: absolute;
	right: 100px;
	bottom: 13px;
    border: 0;
    outline: none; 
    background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
}
.input-sub{
	border-radius: 20%;
	padding: 10px;
	background-color: orange;
	cursor: pointer;
	color: red;
	font-size: 20px;
}
.blue-type{
	color: #00beff;
}
.red-type{
	border: 0;
	outline: none;
	color: red;
	background-color: rgba(0, 0, 0, 0);
}
